* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Caveat', cursive;
    background-image: url(postits.png);
    background-repeat: no-repeat;
    background-position:top;
}


.list-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 500px;
    height: 500px;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.63);
    
    
}

h1{
    margin: 20px;
    font-size: 4em;
}

.list-container ul {
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: flex-start;
}

.list-container li{
    font-family: 'Handlee', cursive;
    font-size: 2em;
    list-style-type: none;
    margin: 16px;
}

.task-checkbox {
    margin: 20px;
}

.form {
    display: flex;
    flex-direction: row;
}

.form * {
    
}

.user-task {
    margin-top: 12px;
    width: 400px;
    font-family: 'Handlee', cursive;
    padding: 12px;
    font-size: 1em;
    border-radius: 10px 0px 0px 10px;
    border: none;
}

.user-task:focus {
    outline: none;
}

.user-task-btn {
    color: #fff;
    background-color: rgb(224, 123, 171);
    margin-top: 12px;
    border-radius: 0px 10px 10px 0px;
    font-weight: 600;
    font-size: 1.7em;
    border:none;
    width: 50px;
    height: auto;
    padding: 12px;
    cursor: pointer;
}

.user-task-btn:hover{
    background-color: rgb(255, 176, 4);
}

.item {
    width: 370px;
    max-width: 370px;
    background: #fff;
    padding-left: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.item-container {
    display: flex;
    flex-direction: row;
    font-family: 'Handlee', cursive;
    padding: 8px;
    margin: 8px;
    width: auto;
    font-size: 1.2em;
    /* background: hotpink; */
}

.checked-btn {
    width: 40px;
    height: auto;
    background-color: #fff;
    padding-left:5px;
    padding-right:5px;
    border: 2px solid hotpink;
    border-radius: 10px 0px 0px 10px;
}

/* .checked-btn:click {
    background-color: #7bce89;
} */

.checked-btn i {
    color: #7e7b7b;
    font-size: 1em;
    height: auto;
}

.checked-btn, .delete-btn {
    border: none;
    cursor: pointer;
}

.checked-btn-style {
    background-color: #7bce89;
}

.checked-text-style {
    background-color: #7bce89;
    text-decoration: line-through;
}

.delete-btn {
    width: 40px;
    height: auto;
    border-radius: 0px 10px 10px 0px;
}

.delete-btn:hover {
    color: #fff;
    background: #d44c3a;
}

#instructions {
    display: none;
    color: rgb(95, 93, 93);
    margin-top: 20px;
    text-align: center;
    font-size: 1.2em;
}

.arrow {
    opacity: 0.8;
}

#left-arrow {
    display: none;
    width: 40px;
    position: absolute;
    top: 24vh;
    left: 39.5vw;
}

#right-arrow {
    display: none;
    width: 30px;
    position: absolute;
    top: 27vh;
    left: 59vw;
    animation-delay: 1.2s;
    /* j'inverse le sens de l'image
    transform: scaleX(-1); */
}

.bounce-in-top {
    animation: bounce-in-top 1.1s both;
}

@keyframes bounce-in-top {
    0% {
              transform: translateY(-500px);
              animation-timing-function: ease-in;
      opacity: 0;
    }
    38% {
              transform: translateY(0);
              animation-timing-function: ease-out;
      opacity: 1;
    }
    55% {
              transform: translateY(-65px);
              animation-timing-function: ease-in;
    }
    72% {
              transform: translateY(0);
              animation-timing-function: ease-out;
    }
    81% {
              transform: translateY(-28px);
              animation-timing-function: ease-in;
    }
    90% {
              transform: translateY(0);
              animation-timing-function: ease-out;
    }
    95% {
              transform: translateY(-8px);
              animation-timing-function: ease-in;
    }
    100% {
              transform: translateY(0);
              animation-timing-function: ease-out;
    }
  }


